:root{
    /* Primary Colors */
    --midnight-blue: #003B6D; 
    --blue-sky: #6699CC;

    /* Secondary Colors */
    --dim-gray: #676767;
    --silver: #BDBDBD;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Prompt", sans-serif;
}

.navbar{
    width: 100vw;
    background-color: var(--midnight-blue);
    color: #fff;
   
}

a{
    text-decoration: none;
    color: #fff;
}

.active{
    text-decoration: underline;
}

.nav-logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-items ul{
   list-style: none;
}

.nav-items li{
    list-style: none;
}

.nav-item{
    
    font-size: 24px;
}
.dropdown {
    position: absolute;
    display: none;
    background-color: var(--blue-sky);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    z-index: 1;
  }

  .drop-down-element{
    margin: 1rem;
  }
  
 

  .nav-items :hover{
    color: var(--blue-sky);
  }

  .nav-items :hover{
    color: var(--blue-sky);
  }
  
  .drop-down-element :hover{
    color: var(--midnight-blue)
  }
  
  nav li:hover .dropdown {
    display: block; 
   
  }
  
  
.hero-img{
    width: 100vw;
    margin-top: -1rem;
}

.hero-h1-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-h1{
    color: var(--dim-gray);
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 0;
}

.hero-h2{
    margin: 0;
    text-transform: uppercase;
}

.footer{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    background-color: var(--midnight-blue);
}
.footer-logo{
    max-width: 200px;
}

.footer li{
    list-style: none;
}

.social-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content: center;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: 1rem;
}

.page-btn{
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: var(--silver);
    border: none;
}

.page-btn:hover{
    background-color: var(--dim-gray);
    color: #fff;
}

