:root{
    /* Primary Colors */
    --midnight-blue: #003B6D; 
    --blue-sky: #6699CC;

    /* Secondary Colors */
    --dim-gray: #676767;
    --silver: #BDBDBD;

}

.footer{
    display: flex;
    justify-content: center;
}
.footer-logo{
    max-width: 200px;
}