:root{
    /* Primary Colors */
    --midnight-blue: #003B6D; 
    --blue-sky: #6699CC;

    /* Secondary Colors */
    --dim-gray: #676767;
    --silver: #BDBDBD;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Prompt", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100vw;
    background-color: var(--midnight-blue);
    color: #fff;
   
}

a{
    text-decoration: none;
    color: #fff;
}

.active{
    text-decoration: underline;
}

.nav-logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-items ul{
   list-style: none;
}

.nav-items li{
    list-style: none;
}

.nav-item{
    
    font-size: 24px;
}
.dropdown {
    position: absolute;
    display: none;
    background-color: var(--blue-sky);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    z-index: 1;
  }

  .drop-down-element{
    margin: 1rem;
  }
  
 

  .nav-items :hover{
    color: var(--blue-sky);
  }

  .nav-items :hover{
    color: var(--blue-sky);
  }
  
  .drop-down-element :hover{
    color: var(--midnight-blue)
  }
  
  nav li:hover .dropdown {
    display: block; 
   
  }
  
  
.hero-img{
    width: 100vw;
    margin-top: -1rem;
}

.hero-h1-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-h1{
    color: var(--dim-gray);
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 0;
}

.hero-h2{
    margin: 0;
    text-transform: uppercase;
}

.footer{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    background-color: var(--midnight-blue);
}
.footer-logo{
    max-width: 200px;
}

.footer li{
    list-style: none;
}

.social-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content: center;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: 1rem;
}

.page-btn{
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: var(--silver);
    border: none;
}

.page-btn:hover{
    background-color: var(--dim-gray);
    color: #fff;
}


/* Home Page */

.mission-box{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mission-h2{
    font-size: 40px;
    text-decoration: underline;
}

.mission-h3{
    margin-top: -2rem;
    width: 600px;
    text-align: center;
}

.mission-p{
    font-size: 20px;
    width: 40%;
    text-align: center;
}
.pets-links-section{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pets-links-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.pets-link-img{
    margin: 2rem;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    
}

.image-hover-container {
    position: relative;
    display: inline-block; /* Allows the container to fit the size of the image */
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for the hover effect */
    font-size: 20px;
    text-transform: uppercase;
}

.image-hover-container:hover .hover-text {
    opacity: 1;
}

.adoption-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.adopt-btn{
    margin: 2rem;
    width: 220px;
    height: 60px;
   
    background-color: var(--silver);
    border: none;
}
.adopt-btn a{
    color: #fff;
    text-decoration: none;
}

.adopt-btn:hover{
    background-color: var(--dim-gray);
    color: #fff;
}


/* Pet pages*/

.pet-information-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
}

.text-section{
    width: 400x;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.adopt-aside{
    margin-left: 5rem;
    padding: 40px;
    background-color: var(--silver);
    width: 500px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adopt-btn{
    width: 240px;
    height: 60px;
    font-size: 16px;
    background-color: var(--midnight-blue);
    border: none;
    margin-left: 4rem;
    
}

.adopt-btn:hover{
    background-color: var(--blue-sky);
}
.pet-header{
    font-size: 20px;
    font-weight: bold;
}
.pet-p{
    width: 1000px;
}

.pet-list{
    width: 1000px;
}

.text-a{
    color: var(--midnight-blue)
}

.about-us-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contact-us-form{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.adoption-form{
    padding: 40px;
    width: 700px;
    background-color: var(--dim-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: left;


}

.adoption-form input{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 600px;
}
.adoption-form label{
    text-align: left;
}

.form-btn{
    width: 240px;
    height: 60px;
    font-size: 16px;
    background-color: var(--midnight-blue);
    color: #fff;
    border: none;
    margin-top: 2rem;
}

.form-btn:hover{
    background-color: var(--blue-sky);
}